.user-deleted {
    color: var(--ion-color-light-shade);
}

.user {
    color: var(--ion-color-secondary);
}

.me {
    font-weight: bold;
    color: var(--ion-color-danger-tint);
}
#lista_commenti{
    padding-left: 15%;
    background-color: lightblue;
}
#comment_field{
    padding-bottom: 0%;
}