<ion-header>
  <ion-toolbar>
    <ion-title>{{parentTweet.tweet}}</ion-title>
    <ion-title class="user" size="small">{{getAuthor(parentTweet)}}</ion-title>
    <ion-buttons slot="end">
        <ion-button color="dark" (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item-sliding *ngFor="let comment of comments">
    
          <ion-item id='lista_commenti'>
                <ion-input [readonly] ="readOnly" [(ngModel)]="comment.tweet"></ion-input>
                <p *ngIf="tweet._author; else userDeleted" class="user" [class.me]="canEdit(comment)"> <!-- SISTEMARE QUI-->
                    {{ getAuthor(comment) }} 
                    <ion-icon *ngIf="canEdit(comment)" name="heart" color="danger-tint"></ion-icon> 
                </p>
              <ng-template #userDeleted>
                <p class="user-deleted">User deleted</p>
              </ng-template>
       
            <ion-button *ngIf="canEdit(comment)" side0="end" color="secondary" (click)="editComment(comment)">
              <ion-icon slot="icon-only"  name="create"></ion-icon>
            </ion-button>
            <ion-button *ngIf="canEdit(comment)" side="end" color="danger" (click)="deleteComment(comment)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

          </ion-item>
          
        </ion-item-sliding>
    
      </ion-list>

    <ion-item>
  
      <ion-label id='comment_field' position="stacked">Write your comment</ion-label>
  
      <ion-textarea minlength="1" maxlength="120" [(ngModel)]="newComment.tweet"></ion-textarea>
  
    </ion-item>
  
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" [disabled]="isDataInvalid()" (click)="createComment()">Comment</ion-button>
    </ion-toolbar>
  </ion-footer>