.user-deleted {
    color: var(--ion-color-light-shade);
}

.user {
    color: var(--ion-color-secondary);
}

.me {
    font-weight: bold;
    color: var(--ion-color-danger-tint);
}
#like_zone{
    background-color: white;
    margin-right: 5%;
}
.like{
    color: red;
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
}
.like:hover{
    opacity: 1;
}
.comment-size{
    font-size: 20px;
    opacity: 0.6;
    transition: 0.3s;
    color: blue;
}
.comment-size:hover{
    opacity:1;
}
#contatore{
    color:black;
}
.star-size{
    color:gold;
    font-size: 20px;
    margin-left: 5%;
    opacity: 0.6;
    transition: 0.3s;
}
.star-size:hover{
    opacity: 1;
}